<hr>

<div  style="background-color: #802417; color: #fff">

  <div style="margin-top: 5px; margin-left: 10px;">
    <div class="row" style="border-color: green;">
      <div class="col-md-10" >
        <label> {{infoCongreso.fecha}}</label>
        <br>
        <label style="font-weight: bold; font-size:1.5rem"> {{infoCongreso.nombre}}</label>
        <br>
        <label> {{infoCongreso.titulo}} </label>
      </div>
      <div class="col-md-2" style="text-align: right;">
          <img [src]='URL+infoCongreso.logo'  class="img-fluid" style="cursor:pointer" style="max-width: 100px; max-height: 100px; margin-right:25px">
  
      </div>
    </div>
   
  
  </div>

</div>

<hr class="hr2">
<ngb-carousel>
  <ng-template ngbSlide>
    <div style="text-align: center;cursor: pointer;">
      <img class=" border-gray" src="./assets/img/p0.png" alt="...">
    </div>
  </ng-template>

  <ng-template ngbSlide *ngFor="let imagen of imagenesPortada">
    <div style="text-align: center; cursor: pointer;">
     
      <img [src]="URL+imagen.imagen" alt="Random first slide" style="margin: auto;" (click)="abrirEnlace(imagen.link)">
 
    </div>

  </ng-template>
</ngb-carousel>
