<div class="panel-header panel-header-sm"></div>
<div class="separador"></div>
<div class="main-content">
  <div *ngIf="!encontrado" class="row animate__animated animate__zoomIn">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card card-user">
        <div style="text-align: center" class="mt-5">
          <img class="border-gray" style="height: 100px; width: 100px" src="./assets/img/certificado.png" alt="..." />
          <h5 class="title">INGRESE SU DOCUMENTO DE IDENTIDAD.</h5>
          <h5 class="title">ENTER YOUR IDENTITY DOCUMENT.</h5>
        </div>

        <div class="card-body">
          <div class="description">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control mt-2 input-inicio" [(ngModel)]="cedula"
                    style="text-align: center" />
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="button-container">
            <button (click)="getInsctipcionByCI()" class="btn button-perso">
              Continuar / Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="encontrado" class="row animate__animated animate__zoomIn">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header" style="margin-top: -5%">
          <h5 class="title" style="cursor: pointer">
            <i class="fas fa-arrow-left" (click)="cambiarEncontrado()"></i>
          </h5>
        </div>
        <div style="text-align: center" class="mt-3">
          <img class="border-gray" style="height: 150px; width: 150px" src="../assets/img/certificado.png" alt="..." />
          <h5 style="margin-top: 5%; font-size: 30px">Querido participante:</h5>
          <br />
          <h5 style="font-weight: bold; margin-top: -2%; font-size: 30px">
            {{ inscripciones[0].nombres + " " + inscripciones[0].apellidos }}
          </h5>
        </div>

        <div class="card-body">
          <div class="saludo">
            <label>Gracias por participar en CSEI. Puede descargar sus certificados
              a continuación:</label>
          </div>
          <table class="table table-striped mt-3">
            <thead>
              <tr style="font-weight: bold; font-size: 15px">
                <td>Certificados:</td>
                <td style="text-align: center">Descargar</td>
              </tr>
            </thead>
            <tbody *ngFor="let inscripcion of inscripciones">
              <tr style="font-size: 15px" *ngIf="inscripcion.certificado_I != null">
                <td>Participación</td>
                <td style="text-align: center" (click)="abrirPDF(inscripcion.certificado_I)">
                  <h5>
                    <span class="badge" style="cursor: pointer">Descargar</span>
                  </h5>
                </td>
              </tr>
              <tr style="font-size: 15px" *ngIf="inscripcion.certificado_P != null">
                <td>Asistenncia</td>
                <td style="text-align: center" (click)="abrirPDF(inscripcion.certificado_P)">
                  <h5><span class="badge">Descargar</span></h5>
                </td>
              </tr>
                <label *ngIf="papers.length>0" style="color:brown;font-weight: bold; font-size:15px ;"> Certificados de papers </label>
              <tr style="font-size: 15px" *ngFor="let paper of papers">
                <td>{{ paper.titulo }}</td>
                <td style="text-align: center" (click)="abrirPDF(paper.certificado)">
                  <h5><span class="badge"  style="cursor: pointer">Descargar</span></h5>
                </td>
              </tr>
              <label *ngIf="expositores.length>0" style="color:brown;font-weight: bold; font-size:15px ;"> Certificados de expositores </label>
              <tr style="font-size: 15px" *ngFor="let expositor of expositores">
                <td>{{expositor.nombre + " - "+ expositor.titulo }}</td>
                <td style="text-align: center" (click)="abrirPDF(expositor.certificado_A)">
                  <h5><span class="badge"  style="cursor: pointer">Descargar</span></h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>