
<div class="logo" >
    
    <label class="simple-text logo-normal title mt-4" >{{infoCongreso.nombre}}</label>

</div>
<div class="logo" >
   <label style="color: white; text-align: center; padding-top: 2vh;"> {{infoCongreso.titulo}}</label>
</div>

<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p style=" font-size:15px">{{menuItem.title}}</p>
            </a>
        </li>
      
    </ul>
    <div class="contenedor">
    <label class="copy" > Copyright &copy; Universidad Técnica de Ambato </label>
</div>
</div>
