/* You can add global styles to this file, and also import other style files */
hr{
    background-color:#7A1E19;
}
d-inline-block{
    background-color:#fff;
}

.btn-neutral{
    color:#000 !important;
}
h5,h6{
    color:#7A1E19 !important;
}
.swal2-confirm{
    background-color:#7A1E19 !important;
}

.alert-danger{
    background-color:#7A1E19 !important;
}
.toast{
    position:relative;
    background-color:#7A1E19 !important;
    color:white !important;
}
.derecha{
text-align:right;
}
label{
    color:black !important;
    font-weight: bold;
}
.ayuda{
    color:black !important;
    font-weight:normal !important;
}


/* los checkboxes */
.chek{
    border: 1px solid #000 !important;
  }
    #c2 input:checked ~ .checkmark {
    background-color: #7A1E19;
    }
   
  
    /* Contenedor */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
    
    }
    
    /* escondemos el default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      
    }
    
    /* creamos un custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
    
    /* Al pasar el mouse encima, lo ponemos gris */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    .container input ~ .checkmark {
    
      border: 1px solid #000;
    }
    
    /* creamos el marcador (escondido al no seleccionar) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* mostramos el marcador al seleccionar */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* estilo del marcador */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .contenedor{
      position: relative;
      display: inline-block;
      text-align: center;
      height:100% !important;
  }
  .texto-encima{
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      text-align: left;
      font-weight: bold;
      max-width: 60%;
  }
  .centrado{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2.5vh;
  }
  
  
  
  
    
      
    